<h1>All Attractions</h1>

<br>

<%= link_to "New Attraction", new_attraction_path if current_user.admin %>

<br><br>

<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Tickets</th>
            <th>Details</th>
        </tr>
    </thead>

    <tbody>
        <% @attractions.each do |attraction| %>
            <tr>
                <td><%= attraction.name %></td>
                <td><%= attraction.tickets %></td>
                <td><%= link_to current_user.admin ? "Show #{attraction.name}" : "Go on #{attraction.name}", attraction_path(attraction) %></td>
            </tr>
        <% end %>
    </tbody>
</table>